---
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";
import { getLangFromUrl, useTranslations } from '../i18n/config';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<PageLayout title="404" description={t('meta.404.description')}>
  <Container>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <h4 class="animate font-semibold text-black dark:text-white">
            404
          </h4>
          <p class="animate">
            {t('404.message')}
          </p>
        </article>
      </section>

      <section class="animate">
        <ArrowCard 
          href={`/${lang}`}
          title={t('404.home')}
          description={t('404.description')}
        />
      </section>
    </div>
  </Container>
</PageLayout>